{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    <div style="background-color: #CC0000; color: #FFFFFF; text-align: center; padding: 10px; font-size: 14px; font-weight: bold;">
        🚚 Free shipping on orders over $100!
    </div>
    {{ parent() }}
{% endblock %}