{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_script %}
    {{ parent() }}

    {% block paypal_funding_eligibility_script %}
        {# @var \Swag\PayPal\Storefront\Data\Struct\FundingEligibilityData fundingEligibilityData #}
        {% set fundingEligibilityData = page.extensions[constant('Swag\\PayPal\\Storefront\\Data\\FundingSubscriber::FUNDING_ELIGIBILITY_EXTENSION')] %}

        {% if fundingEligibilityData %}
            <div data-swag-paypal-funding-eligibility="true"
                 data-swag-paypal-funding-eligibility-options="{{ fundingEligibilityData|json_encode }}">
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
